<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PlanetApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonkeysPlanet"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MonkeysPlanet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature_profile.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.login.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.edit.ProfileEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.bindphone.BindPhoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_common.webview.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_common.material.MaterialDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_common.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_common.article.ArticleListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_common.article.ArticleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_common.material.MaterialListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_exam.practice.PracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_exam.practice.QuestionListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_exam.BankDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_common.setting.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.about.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.feedback.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.changepassword.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.records.StudyRecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
